/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
.gridcontainer {
    display: grid;
    grid-template-columns: auto 40vw auto;
}
header {
    grid-column: span 3;
}
.left {
    grid-column: span 1;
    margin: 0.5vw;
    margin-left: auto;
    margin-right: 0.5vw;
    width: 15vw;
}
.mid {
    grid-column: span 1;
    margin: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.right {
    grid-column: span 1;
    margin: 0.5vw;
    margin-left: 0.5vw;
    width: 15vw;
}
footer {
    grid-column: span 3;
    text-align: center;
}
footer img {
    display: inline-block;
}
* {
    font-family: 'Manuale', sans-serif;
    font-size: 1.2vw;
}
h1 {
    margin: 0px;
    margin-top: 1vh;
    text-align: center;
    font-size: 2vw;
}
h2 {
    margin: 0px;
    text-align: center;
    font-size: 1.5vw;
}
.right h1 {
    text-align: left;
}
a:link {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:visited {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ff0000;
}
.mid img {
    object-fit: cover;
    left: 0;
    width: 40vw;
    height: 40vh;
}
.mid p {
    width: 40vw;
    height: 25vh;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 0px;
}
.slideheader {
    margin-top: 1vh;
}
.slideshow {
    position: relative; /* How is this working? */
    width: 40vw; /* Why not 100% here? Occupy 100% of mid, which is 40vw. */
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* How is this working? */
}
.slideshow img {
    position: absolute; /* How is this working? */
    object-fit: cover;
    /* object-position: center; */
    /* margin: auto; */
    left: 0;
    width: 40vw;
    height: 40vh;
    opacity: 0;
    z-index: -1;
}
.slideshow img.next {
    opacity: 1;
    z-index: 1;
}
.slideshow img.prev {
    opacity: 1;
    z-index: 2;
}
.slideshow img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}
.link-icons {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.link-icons img {
    display: inline-block;
    margin: 0.8vw;
    max-width: 2vw;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    /*https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-fill-color*/
    /*fill: orange;
    color: #ff0000 !important;*/
}
.link-icons img:hover {
    opacity: 0.5;
    /*fill: blue !important;*/
}
.menu a {
    margin-left: 5px;
    margin-right: 5px;
}
ul {
    margin: 0px;
    list-style: none;
}
li {
    margin-bottom: 1vh;
    text-align: right;
}
