/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}
header {
    grid-column: span 3;
    /* align-items: center; TODO: Header not vertically aligned? */
    padding-top: 2%;
}
.left {
    grid-column: span 1;
    margin: 5px;
    margin-left: auto;
    margin-right: 15px;
    width: 15vw;
}
.mid {
    grid-column: span 1;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.right {
    margin: 5px;
    grid-column: span 1;
    width: 15vw;
}
footer {
    grid-column: span 3;
    text-align: center;
}
footer img {
    display: inline-block;
    margin: 10px;
}
* {
    font-family: 'Manuale', sans-serif;
    font-size: 14pt;
}
h1 {
    font-size: 20pt;
    text-align: center;
    margin: 0px;
}
.right h1 {
    text-align: left;
}
a:link {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:visited {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ff0000;
}
.mid img {
    object-fit: cover;
    left: 0;
    width: 40vw;
    height: 40vh;
}
.mid p {
    width: 40vw;
    text-align: justify;
    margin-left: auto; /* Difference to text-align: center;? */
    margin-right: auto;
}
.slideheader {
    margin-top: 3%;
}
.slideshow {
    position: relative; /* How is this working? */
    width: 40vw;
    height: 40vh;
    margin-left: auto; /* Difference to text-align: center;? */
    margin-right: auto;
    /* overflow: hidden;
    text-align: center; */
}
.slideshow img {
    position: absolute; /* How is this working? */
    object-fit: cover;
    /* object-position: center; */
    /* margin: auto; */
    left: 0;
    width: 40vw;
    height: 40vh;
    opacity: 0;
    z-index: -1;
}
.slideshow img.next {
    opacity: 1;
    z-index: 1;
}
.slideshow img.prev {
    opacity: 1;
    z-index: 2;
}
.slideshow img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}
.link-icons {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.link-icons img {
    display: inline-block;
    margin: 10px;
    max-width: 32px;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    /*https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-fill-color*/
    /*fill: orange;
    color: #ff0000 !important;*/
}
.link-icons img:hover {
    opacity: 0.5;
    /*fill: blue !important;*/
}
.menu a {
    margin-left: 5px;
    margin-right: 5px;
}
ul {
    margin: 0px;
    list-style: none;
}
li {
    margin-bottom: 5px;
    text-align: right;
}
