h1, h2, h3, h4, p {
    text-align: center;
}
h1 {
    padding-top: 3%;
}
a:link {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:visited {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ff0000;
}
.menu a {
    margin: 5px;
}
.slideshow {
    overflow: hidden;
    position: relative; /* Without, w and h different? */
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}
.slideshow img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: auto;
    opacity: 0;
    z-index: -1;
}
.slideshow img.next {
    opacity: 1;
    z-index: 1;
}
.slideshow img.prev {
    opacity: 1;
    z-index: 2;
}
.slideshow img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}
.link-icons {
    text-align: center;
}
.link-icons img {
    display: inline-block;
    margin: 10px;
    max-width: 32px;
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    /*https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-fill-color*/
    fill: orange;
    color: #ff0000 !important;
}
.link-icons img:hover {
    opacity: 0.5;
    fill: blue !important;
}
